
<div class="row">
  <div class="col-6">
    <div class="form-group">
      <label for="alcohol_level">Alcohol level</label>
      <input class="form-control" type="range" name="alcohol_level" min="0" max="100"
      oninput="mostrarPorcentagem(this.value, this.name)" value="0">
      <small id="alcohol_levelValue" class="form-text text-muted">0 - 100</small>
    </div>
  </div>
  <div class="col-6">
    <label for="alcohol_level">Distilled</label><br>
    <% [true, false].each_with_index do |k, i| %>
      <div class="form-group form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" type="radio"
          name="distilled" <%= i == 1 ? 'checked' : ''%>
          id="distilledRadio<%= i %>" value="<%= k %>"> <%= i == 0 ? 'Yes' : 'No' %>
        </label>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="form-group">
      <label for="exampleSelect1">Base ingredient</label>
      <select class="form-control" id="base_ingredient" name="base_ingredient">
        <option value=""></option>
        <% @drink.distinct_base_ingredient.each_with_index do | d,i | %>
        <option value="<%= d.base_ingredient %>"><%= d.base_ingredient.capitalize %></option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="col-6">
    <div class="form-group">
      <label for="alcohol_level">Bitterness</label>
      <input class="form-control" type="range" name="ibu" min="0" max="10"
      oninput="mostrarPorcentagem(this.value, this.name)" value="0">
      <small id="ibuValue" class="form-text text-muted">0 - 10</small>
    </div>
  </div>
</div>
